###################################
# DO NOT change this field manually
###################################
cversion: '1.1.0'##################
###################################

hanayome:
  audio:
    isMuted: false
  screenshot:
    mode: 'clipboard'
    path: './screenshot'
  logs:
    compress: true
    daysToKeep: 14
  schedule:
    loopDelay: 100
  update:
    check: true
