<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="ui"><a class="ui ui-refresh btn navbar-btn"></a></li>
        <li class="ui"><a class="ui ui-volume btn navbar-btn toggleable"></a></li>
        <li class="ui"><a class="ui ui-screenshot btn navbar-btn"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="ui"><a class="ui ui-settings btn navbar-btn"></a></li>
        <li class="ui"><a class="ui ui-info btn navbar-btn" data-toggle="modal" data-target="#modal-info"></a></li>
      </ul>
    </div>
  </div>
</nav>
