body{
  overflow: hidden;
  background-color: #444444;
}

webview{
  width: 960px;
  height: 640px;
  margin: 8px;
}

.icon{
  width: 32px;
  height: 32px;
}

.ui:hover, .ui:active{
  background-color: #4a4a4a;
}

.btn:active{
    box-shadow:none;
}
